<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appiconfromcanvawithbg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appiconfromcanvawithbg"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportsXtreme">
        <activity
            android:name=".QRForPlayerAddingActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AddPlayerByMobileNumberActivity"
            android:exported="false" />
        <activity
            android:name=".AddPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".FinalSquadActivity"
            android:exported="false" />
        <activity
            android:name=".StartMatchPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".TossActivity"
            android:exported="false" />
        <activity
            android:name=".FinalPageBeforeScoringActivity"
            android:exported="false" />
        <activity
            android:name=".MainScoringActivity"
            android:exported="false" />
        <activity
            android:name=".ViewDetailsScreenWhileStartMatch"
            android:exported="false" />
        <activity
            android:name=".SelectTeamAorBActivity"
            android:exported="false" />
        <activity
            android:name=".SelectPlayingTeamsActivity"
            android:exported="false" />
        <activity
            android:name=".StartMatchActivity"
            android:exported="false" />
        <activity
            android:name=".LeagueTournamentFlowActivity"
            android:exported="false" />
        <activity
            android:name=".LeagueMatchSetupActivity"
            android:exported="false" />
        <activity
            android:name=".TournamentRequirementsActivity"
            android:exported="false" />
        <activity
            android:name=".TournamentRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".ShoppingActivity"
            android:exported="false" />
        <activity
            android:name=".ScorecardActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAllScoreCardActivity"
            android:exported="false" />
        <activity
            android:name=".XtremeMediaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SportsXtreme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
